* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: #faf9f6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Arial, Helvetica, sans-serif;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.gradient_background {
  background: linear-gradient(180deg, #9a3b95, #e36d83);
}

.box {
  height: 308px;
  width: 276px;
}

.box .group {
  height: 308px;
  left: 0;
  /* position: fixed; */
  top: 0;
  width: 280px;
}

.box .overlap-group {
  background-color: #faf4f4;
  /* background-image: url(./influencer-marketing-scaled-1.png); */
  background-position: 50% 50%;
  background-size: cover;
  border: 1px solid;
  border-color: #242225;
  border-radius: 13px;
  height: 308px;
  left: -1px;
  position: relative;
  top: -1px;
  width: 276px;
}

.box .rectangle {
  background-color: #faf4f4;
  border: 1px solid;
  border-color: #242225;
  border-radius: 13px;
  height: 308px;
  left: -1px;
  position: absolute;
  top: -1px;
  width: 276px;
}

.box .influencer-marketing {
  height: 308px;
  left: -1px;
  object-fit: cover;
  position: absolute;
  top: -1px;
  width: 276px;
}

.box .text-wrapper {
  color: #ffffff;
  font-family: "Inter-Bold", Helvetica;
  font-size: 15px;
  font-weight: 700;
  left: 12px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 259px;
  white-space: nowrap;
}

.box .div {
  background: linear-gradient(
    180deg,
    rgb(163, 65, 147) 0%,
    rgb(222, 106, 132) 100%
  );
  border-radius: 14px;
  height: 14px;
  left: 12px;
  position: absolute;
  top: 277px;
  width: 79px;
}

.box .text-wrapper-2 {
  color: #ffffff;
  font-family: "Inter-Regular", Helvetica;
  font-size: 10px;
  font-weight: 400;
  left: 5px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 277px;
  white-space: nowrap;
  width: 70px;
}

/* category btn */
.category-btn {
  background-color: #9a3b95 !important;
  color: white;
}

/* card design */

.card {
  border: none;
  transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
  overflow: hidden;
  border-radius: 20px;
  min-height: 450px;
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.2);

  @media (max-width: 768px) {
    min-height: 350px;
  }

  @media (max-width: 420px) {
    min-height: 300px;
  }

  &.card-has-bg {
    transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
    background-size: 125%;
    background-repeat: no-repeat;
    background-position: center center;
    &:before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: inherit;
      /* -webkit-filter: grayscale(1);
      -moz-filter: grayscale(100%);
      -ms-filter: grayscale(100%);
      -o-filter: grayscale(100%);
      filter: grayscale(100%); */
    }

    &:hover {
      transform: scale(0.98);
      box-shadow: 0 0 5px -2px rgba(0, 0, 0, 0.3);
      background-size: 130%;
      transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);

      .card-img-overlay {
        transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
        background: rgb(255, 186, 33);
        background: linear-gradient(
          0deg,
          rgb(0, 0, 0) 0%,
          rgba(0, 0, 0, 0) 100%
        );
      }
    }
  }
  .card-footer {
    background: none;
    border-top: none;
    .media {
      img {
        border: solid 3px rgba(255, 255, 255, 0.3);
      }
    }
  }
  .card-title {
    font-weight: 800;
  }
  .card-meta {
    color: rgba(0, 0, 0, 0.3);
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 2px;
  }
  .card-body {
    transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
  }
  &:hover {
    /* .card-body {
      margin-top: 30px;
      transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
    } */
    cursor: pointer;
    transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
  }
  .card-img-overlay {
    transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
    background: rgb(255, 186, 33);
    background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.8) 0%,
      rgba(255, 255, 255, 0) 100%
    );
  }
}
@media (max-width: 767px) {
}

.nav-btn {
  color: white;
}
.nav-btn:hover {
  color: #8a2dfc;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.gradient_background {
  background: linear-gradient(180deg, #9a3b95, #e36d83);
}
.button-42 {
  background-color: initial;
  background: linear-gradient(180deg, #9a3b95, #e36d83);
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: Inter, -apple-system, system-ui, Roboto, "Helvetica Neue", Arial,
    sans-serif;
  height: 40px;
  line-height: 40px;
  outline: 0;
  overflow: hidden;
  padding: 0 20px;
  pointer-events: auto;
  position: relative;
  text-align: center;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: top;
  white-space: nowrap;
  width: 100%;
  z-index: 9;
  border: 0;
  transition: box-shadow 0.2s;
}

.button-42:hover {
  box-shadow: rgba(253, 76, 0, 0.5) 0 3px 8px;
}

.typeWriterText {
  font-size: 60px;
  color: white;
  font-weight: 900;
  line-height: 1;
}

.celeb {
  /* margin-bottom: -20px; */
  display: grid;
  align-content: end;
}

.nav-link {
  color: rgb(255, 159, 104);
  font-size: 18px;
  font-weight: 500;
}

.promotion-card {
  max-width: 540px;
  min-height: 200px;
  height: 150px;
  display: grid;
  background: rgb(173, 34, 195);
  background: linear-gradient(
    0deg,
    rgba(173, 34, 195, 1) 0%,
    rgba(253, 187, 45, 1) 100%
  );
}

.promotion-body {
  display: grid;
  align-content: center;
}

.list-group-item {
  background-color: #0000 !important;
  color: white !important;
}

.group-item {
  color: rgb(183, 183, 183);
  text-decoration: none;
}
.group-item:hover {
  color: rgb(12, 235, 255);
}

.footer {
  /* border-top: 2px solid #8a2dfc; */
  /* margin-top: auto; */
  position: relative;
  left: 0;
  bottom: 0;
}

.bottom-footer {
  background-color: #8a2dfc;
}

.navbar {
  border-bottom: 2px solid rgb(168, 85, 247);
}

/* btn Ui */

.btn-hover {
  width: 150px;
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  margin-left: 20px;
  height: 45px;
  text-align: center;
  border: none;
  background-size: 300% 100%;

  border-radius: 50px;
  moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.btn-hover:hover {
  background-position: 100% 0;
  moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.btn-hover.color-4 {
  background-image: linear-gradient(
    to right,
    #fc6076,
    #ff9a44,
    #ef9d43,
    #e75516
  );
  box-shadow: 0 4px 15px 0 rgba(252, 104, 110, 0.75);
}

.section-heading {
  color: #000000;
}

.section-featured {
  color: #9b3c95;
}

/* search bar */

.tb {
  display: table;
  width: 100%;
}

.td {
  display: table-cell;
  vertical-align: middle;
}

.search-input,
.search-button {
  color: #fff;
  font-family: Nunito;
  padding: 0;
  margin: 0;
  border: 0;
  background-color: transparent;
}

#cover {
  /* position: absolute; */
  top: 50%;
  left: 0;
  right: 0;
  /* width: 550px; */
  padding: 20px;
  margin: -83px auto 0 auto;
  background-color: #000000c3;
  border-radius: 20px;
  box-shadow: 0 10px 40px #e8000085, 0 0 0 20px #ffffffeb;
  transform: scale(0.4);
}

.search-form {
  height: 96px;
}

.search-input[type="text"] {
  width: 100%;
  height: 96px;
  font-size: 60px;
  line-height: 1;
}

.search-input[type="text"]::placeholder {
  color: #ffffff;
}

#s-cover {
  width: 1px;
  padding-left: 35px;
}

.search-button {
  position: relative;
  display: block;
  width: 84px;
  height: 96px;
  cursor: pointer;
}

#s-circle {
  position: relative;
  top: -8px;
  left: 0;
  width: 70px;
  height: 70px;
  margin-top: 0;
  border-width: 15px;
  border: 15px solid #fff;
  background-color: transparent;
  border-radius: 50%;
  transition: 0.5s ease all;
}

.search-button span {
  position: absolute;
  top: 68px;
  left: 43px;
  display: block;
  width: 45px;
  height: 15px;
  background-color: transparent;
  border-radius: 10px;
  transform: rotateZ(52deg);
  transition: 0.5s ease all;
}

.search-button span:before,
.search-button span:after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 45px;
  height: 15px;
  background-color: #fff;
  border-radius: 10px;
  transform: rotateZ(0);
  transition: 0.5s ease all;
}

#s-cover:hover #s-circle {
  top: -1px;
  width: 67px;
  height: 15px;
  border-width: 0;
  background-color: #fff;
  border-radius: 20px;
}

#s-cover:hover span {
  top: 50%;
  left: 56px;
  width: 25px;
  margin-top: -9px;
  transform: rotateZ(0);
}

#s-cover:hover button span:before {
  bottom: 11px;
  transform: rotateZ(52deg);
}

#s-cover:hover button span:after {
  bottom: -11px;
  transform: rotateZ(-52deg);
}
#s-cover:hover button span:before,
#s-cover:hover button span:after {
  right: -6px;
  width: 40px;
  background-color: #fff;
}

/* btn css */

/* CSS */
.button-87 {
  margin: 10px;
  padding: 15px 30px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 10px;
  display: block;
  border: 0px;
  font-weight: 700;
  box-shadow: 0px 0px 14px -7px #f09819;
  background-image: linear-gradient(
    45deg,
    #ff512f 0%,
    #f09819 51%,
    #ff512f 100%
  );
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 50%;
}

.button-87:hover {
  background-position: right center;
  /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.button-87:active {
  transform: scale(0.95);
}
