body {
  background-color: #000000;
  min-height: 100vh;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.gradient_background {
  background: linear-gradient(180deg, #9a3b95, #e36d83);
}

.box {
  height: 308px;
  width: 276px;
}

.box .group {
  height: 308px;
  left: 0;
  /* position: fixed; */
  top: 0;
  width: 280px;
}

.box .overlap-group {
  background-color: #faf4f4;
  /* background-image: url(./influencer-marketing-scaled-1.png); */
  background-position: 50% 50%;
  background-size: cover;
  border: 1px solid;
  border-color: #242225;
  border-radius: 13px;
  height: 308px;
  left: -1px;
  position: relative;
  top: -1px;
  width: 276px;
}

.box .rectangle {
  background-color: #faf4f4;
  border: 1px solid;
  border-color: #242225;
  border-radius: 13px;
  height: 308px;
  left: -1px;
  position: absolute;
  top: -1px;
  width: 276px;
}

.box .influencer-marketing {
  height: 308px;
  left: -1px;
  object-fit: cover;
  position: absolute;
  top: -1px;
  width: 276px;
}

.box .text-wrapper {
  color: #ffffff;
  /* font-family: "Inter-Bold", Helvetica; */
  font-size: 15px;
  font-weight: 700;
  left: 12px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 259px;
  white-space: nowrap;
}

.box .div {
  background: linear-gradient(
    180deg,
    rgb(163, 65, 147) 0%,
    rgb(222, 106, 132) 100%
  );
  border-radius: 14px;
  height: 14px;
  left: 12px;
  position: absolute;
  top: 277px;
  width: 79px;
}

.xyb {
  background: linear-gradient(315deg, #8725fe, #fe66ab);
}

.box .text-wrapper-2 {
  color: #ffffff;
  /* font-family: "Inter-Regular", Helvetica; */
  font-size: 10px;
  font-weight: 400;
  left: 5px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 277px;
  white-space: nowrap;
  width: 70px;
}

/* category btn */
.category-btn {
  background-color: #9a3b95 !important;
  color: white;
}
/* Base card style */
.card {
  border: none;
  transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
  overflow: hidden;
  border-radius: 10px;
  min-height: 400px;
  /* box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.2); */
  width: 300px;

  @media (max-width: 768px) {
    min-height: 450px;
  }

  @media (max-width: 420px) {
    min-height: 450px;
  }

  .card-title {
    font-weight: 800;
  }

  .card-meta {
    color: rgba(0, 0, 0, 0.3);
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 2px;
  }

  .card-body {
    transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
  }

  &:hover {
    cursor: pointer;
    transform: scale(0.98);
    box-shadow: 0 0 5px -2px rgba(0, 0, 0, 0.3);
    transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
    /* transform: translateY(-20px); */
  }

  .card-img-overlay {
    transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
    /* background: rgb(255, 186, 33); */
    background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.8) 0%,
      rgba(255, 255, 255, 0) 100%
    );
  }
}

.card-has-bg {
  transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
  background-size: 125%;
  background-repeat: no-repeat;
  background-position: center center;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: inherit;
    /* Uncomment and adjust filter properties if needed
    -webkit-filter: grayscale(1);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%); */
  }

  &:hover {
    transform: scale(0.98);
    box-shadow: 0 0 5px -2px rgba(0, 0, 0, 0.3);
    background-size: 130%;
    transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
    transform: translateY(-20px);
    z-index: 99;

    .card-img-overlay {
      transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
      background: linear-gradient(
        0deg,
        #000000 0%,
        #4a007ea1 25%,
        #8725fe00 100%
      );
    }
  }
}

.card-footer {
  background: none;
  border-top: none;
}

.card-footer .media img {
  border: solid 3px rgba(255, 255, 255, 0.3);
}

.nav-btn {
  color: white;
}
.nav-btn:hover {
  color: #8a2dfc;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.gradient_background {
  background: linear-gradient(180deg, #8e3afc, #ff67aa);
}
.button-42 {
  background-color: initial;
  background: linear-gradient(180deg, #9a3b95, #e36d83);
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  /* font-family: Inter, -apple-system, system-ui, Roboto, "Helvetica Neue", Arial, */
  /* sans-serif; */
  height: 40px;
  line-height: 40px;
  outline: 0;
  overflow: hidden;
  padding: 0 20px;
  pointer-events: auto;
  position: relative;
  text-align: center;
  touch-action: manipulation;
  -webkit-user-select: none;
  user-select: none;
  vertical-align: top;
  white-space: nowrap;
  width: 100%;
  z-index: 9;
  border: 0;
  transition: box-shadow 0.2s;
}

.button-42:hover {
  box-shadow: rgba(253, 76, 0, 0.5) 0 3px 8px;
}

.typeWriterText {
  font-size: 80px;
  color: white;
  font-weight: 400;
  line-height: 1;
}
.typeWriterTextMove {
  font-size: 80px;
  font-weight: 400;
  line-height: 1;
  font-family: "Coolvetica11";

  background: -webkit-linear-gradient(
    #ec0606,
    #6a0101
  ); /* For Safari and older versions of Chrome */
  background: -o-linear-gradient(#8f0808, #00a100); /* For Opera */
  background: linear-gradient(#f5615f, #f054b9); /* Standard syntax */

  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

@media (max-width: 768px) {
  .celeb1,
  .celeb2 {
    transform: none;
  }
}

.navbar-brand {
  width: 10%;
}
.footer-brand {
  width: 40%;
}

.nav-item {
  /* width: 160px; */
  text-align: center;
  margin: 0 10px;
  display: grid;
  align-items: center;
}

.user-image-container .dropdown-menu.show {
  transform: translate3d(-45px, -65px, 0px) !important;
}

.dropdown-menu {
  background-color: black;
  border: 2px solid #f5615f;
}

.dropdown-menu li a {
  color: #f5615f !important;
  font-weight: 600;
}

.dropdown-menu li a:hover {
  color: #ffffff !important;
  /* font-weight: 600; */
  background-color: #f5615f;
}

.dropdown-item.active,
.dropdown-item:active,
.dropdown-item:focus,
.dropdown-item:hover {
  background-color: #f5615f;
  color: #ffffff !important;
  font-weight: 400;
}

.nav-link {
  color: #fff;
  /* font-size: 18px; */
  /* font-weight: 600; */
}

.promotion-card {
  border-radius: 20px;
  background: linear-gradient(180deg, #8e3afc, #ff67aa);
}

.promotion-title {
  font-size: 35px;
}

.promotion-body {
  display: grid;
  align-content: center;
  padding: 20px;
}

.list-group-item {
  background-color: #0000 !important;
  color: white !important;
}

.group-item {
  color: rgb(183, 183, 183);
  text-decoration: none;
}
.group-item:hover {
  color: #f5615f;
}

.footer {
  /* border-top: 2px solid #8a2dfc; */
  /* border-top: 2px solid #8a2dfc; */
  /* margin-top: auto; */
  position: relative;
  left: 0;
  bottom: 0;
  border-radius: 20px 20px 0 0;
  background-color: #1414152b;
}

.social-section {
  border-bottom: 1px solid #4d4d4d;
}

/* .bottom-footer {
  background: linear-gradient(60deg, #8e3afc, #ff67aa);
} */

.navbar {
  /* border-bottom: 2px solid #8A2DFC; */
  background-color: #000000;
}

/* btn Ui */

.btn-global {
  /* width: 130px; */
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  cursor: pointer;
  padding: 5px 0;
  text-align: center;
  border: none;
  background-size: 300% 100%;

  border-radius: 8px;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;

  background-image: linear-gradient(
    to right,
    #f5615f,
    #fc396e,
    #fc396e,
    #f5615f
  );
  background-image: 0 4px 15px 0 rgb(49, 22, 19);
  /* box-shadow: 0 4px 15px 0 rgba(252, 104, 110, 0.75); */
}

.btn-global:hover {
  background-position: 100% 0;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  box-shadow: 0 4px 15px 0 rgba(252, 104, 110, 0.75);
}

.section-heading {
  color: white;
  font-size: 56px;
  font-weight: 400;
  line-height: 73px;
  /* font-family: Coolvetica1; */
}

.section-featured {
  color: #9b3c95;
  color: #9b3c95;
}

/* search bar */

.tb {
  display: table;
  width: 100%;
}

.td {
  display: table-cell;
  vertical-align: middle;
}

.search-input,
.search-button {
  color: #fff;
  /* font-family: Nunito; */
  padding: 0;
  margin: 0;
  border: 0;
  background-color: transparent;
}

#cover {
  /* position: absolute; */
  top: 50%;
  left: 0;
  right: 0;
  /* width: 550px; */
  padding: 20px;
  margin: -83px auto 0 auto;
  background-color: #000000c3;
  border-radius: 20px;
  box-shadow: 0 10px 40px #e8000085, 0 0 0 20px #ffffffeb;
  transform: scale(0.4);
}

.search-form {
  height: 96px;
}

.search-input[type="text"] {
  width: 100%;
  height: 96px;
  font-size: 60px;
  line-height: 1;
}

.search-input[type="text"]::placeholder {
  color: #ffffff;
}

#s-cover {
  width: 1px;
  padding-left: 35px;
}

.search-button {
  position: relative;
  display: block;
  width: 84px;
  height: 96px;
  cursor: pointer;
}

#s-circle {
  position: relative;
  top: -8px;
  left: 0;
  width: 70px;
  height: 70px;
  margin-top: 0;
  border-width: 15px;
  border: 15px solid #fff;
  background-color: transparent;
  border-radius: 50%;
  transition: 0.5s ease all;
}

.search-button span {
  position: absolute;
  top: 68px;
  left: 43px;
  display: block;
  width: 45px;
  height: 15px;
  background-color: transparent;
  border-radius: 10px;
  transform: rotateZ(52deg);
  transition: 0.5s ease all;
}

.search-button span:before,
.search-button span:after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 45px;
  height: 15px;
  background-color: #fff;
  border-radius: 10px;
  transform: rotateZ(0);
  transition: 0.5s ease all;
}

#s-cover:hover #s-circle {
  top: -1px;
  width: 67px;
  height: 15px;
  border-width: 0;
  background-color: #fff;
  border-radius: 20px;
}

#s-cover:hover span {
  top: 50%;
  left: 56px;
  width: 25px;
  margin-top: -9px;
  transform: rotateZ(0);
}

#s-cover:hover button span:before {
  bottom: 11px;
  transform: rotateZ(52deg);
}

#s-cover:hover button span:after {
  bottom: -11px;
  transform: rotateZ(-52deg);
}
#s-cover:hover button span:before,
#s-cover:hover button span:after {
  right: -6px;
  width: 40px;
  background-color: #fff;
}

.srch-btn {
  padding: 13px 20px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 20px;
  display: block;
  border: 0px;
  font-weight: 700;
  box-shadow: 0px 0px 14px -7px #f09819;
  background-image: linear-gradient(
    45deg,
    #fe62ac 0%,
    #8726ff 51%,
    #fe5ab0 100%
  );
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
  touch-action: manipulation;
  /* width: 300px; */
}

.srch-btn:hover {
  background-position: right center;
  /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.srch-btn:active {
  transform: scale(0.95);
}

.search-btn {
  padding: 13px 20px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  background-color: black;
  color: white;
  border-radius: 20px;
  display: block;
  border: 0px;
  font-weight: 700;
  /* box-shadow: 0px 0px 14px -7px #f09819; */
  /* background-image: linear-gradient(
    45deg,
    #F5615F 0%,
    #FC396E 51%,
    #F5615F 100%
  ); */
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
  touch-action: manipulation;
  /* width: 300px; */
}

.search-btn-mobile {
  padding: 8px 15px;
  text-align: center;
  /* text-transform: uppercase; */
  transition: 0.5s;
  background-size: 200% auto;
  background-color: black;
  color: white;
  border-radius: 20px;
  display: block;
  border: 0px;
  /* font-weight: 700; */
  box-shadow: 0px 0px 14px -7px #f09819;
  background-image: linear-gradient(
    45deg,
    #f5615f 0%,
    #fc396e 51%,
    #f5615f 100%
  );
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
  touch-action: manipulation;
  width: 150px;
  margin: 10px 0;
}

/* CSS */
.button-87 {
  /* margin: 10px; */
  padding: 15px 30px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 10px;
  display: block;
  border: 0px;
  font-weight: 700;
  box-shadow: 0px 0px 14px -7px #f09819;
  background-image: linear-gradient(
    45deg,
    #9948fc 0%,
    #fe60ad 51%,
    #fe57b1 100%
  );
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
  touch-action: manipulation;
  width: 50%;
  width: 300px;
}

.button-87:hover {
  background-position: right center;
  /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.button-87:active {
  transform: scale(0.95);
}

.celeb-img {
  /* height: 550px; */
  /* width: 450px; */
  border-radius: 15px;
}

.breadcrumb {
  --bs-breadcrumb-divider: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E");
}

.tags {
  background-color: red;
}

.breadcrumb-tag {
  text-decoration: none;
  font-weight: 600;
  color: #be4ffa;
}

.accordion-button {
  color: white;
  font-weight: 600;
}
.accordion-button i {
  color: #fa59b3;
}
.accordion-borderless .accordion-item .accordion-button:not(.collapsed) {
  color: white;
  background-color: #28282b;
}

.accordion-body {
  color: rgb(227, 227, 227);
}

/* Dark background */
.dark-bg {
  background-color: #000000;
  padding: 10px 15px;
  border: 2px solid #333333;
  /* border-top: 0px solid #6f42c1; */
  /* border-bottom: 2px solid #6f42c1; 
  border-left: 0px solid #6f42c1; 
  border-right: 0px solid #6f42c1;  */
  color: #fff; /* White text color */
  border-radius: 8px;
}

/* Placeholder text color */
.dark-bg::placeholder {
  color: #ccc; /* Gray-white placeholder text */
}

/* Input focus styles */
.dark-bg:focus {
  border-color: #f5615f;
  color: #fff; /* White text color on focus */
  background-color: rgb(29, 29, 29);
  box-shadow: inset 0 0 0 0px #f5615f;
}

.form-switch .form-check-input {
  background-color: rgba(255, 255, 255, 0.25);
}

.form-switch .form-check-input:checked[type="checkbox"]::after {
  background-color: greenyellow;
}

.form-check-input[type="checkbox"]:checked {
  background-color: green !important;
  border: green;
  padding: 2px;
}

.inquiry-form {
  background-color: #000000;
  border: 1px solid #fc396d71;
}

.css-13cymwt-control {
  /* background-color: #292929 !important; */
  background-color: #000000 !important;
  padding: 5px 15px !important;

  border-top: 0px solid #6f42c1 !important;
  border-bottom: 0px solid #6f42c1 !important;
  border-left: 0px solid #6f42c1 !important;
  border-right: 0px solid #6f42c1 !important;
  color: #fff !important;
  border-radius: 10px !important;
}

.css-13cymwt-control:hover {
  background-color: #d9d9d929 !important;
}

.css-t3ipsp-control {
  padding: 5px 15px !important;
  background-color: #000000 !important;
  border-top: 0px solid #6f42c1 !important;
  border-bottom: 0px solid #6f42c1 !important;
  border-left: 0px solid #6f42c1 !important;
  border-right: 0px solid #6f42c1 !important;
  color: #fff !important;
  border-radius: 10px !important;
  box-shadow: 0 0 0 0px !important;
}

.css-166bipr-Input {
  color: white !important;
}

.select__menu .css-1nmdiq5-menu {
  background-color: black;
  z-index: 10 !important;
}

.flicking-camera {
  z-index: 0;
}

/* Default styles */
#file-upload[type="file"] {
  display: none;
}

.custom-file-upload {
  border: 2px dashed gray;
  width: 100%; /* Adjust the width as needed for responsiveness */
  min-height: 100px; /* Set a minimum height for the container */
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: border-color 0.3s, color 0.3s;
}

.custom-file-upload:hover {
  border: 2px dashed rgb(240, 240, 240);
  color: white;
}

/* Styles for the image preview */
.img-preview {
  max-width: 100%;
  height: 400px;
  /* border: 2px solid #6f42c1;  */
  border-radius: 10px;
  margin-top: 10px;
  display: block;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
  .custom-file-upload {
    width: 80%; /* Adjust the width for smaller screens */
  }
}

.upload-img-section {
  border: 2px solid #8a2dfc; /* Purple border */
}

.carousel .slider-wrapper {
  padding: 20px 20px !important;
}

.card .card-img:hover {
  transform: scale(1.07);
}

.dashboard-nav {
  border-bottom: 2px solid #8a2dfc;
  background-color: #28282b;
}

.nav-link:focus,
.nav-link:hover {
  color: #f5615f;
}

.main-category-filter {
  width: 350px;
}
.main-category-filter option {
  background-color: #28282b;
}
/* Default width for larger screens */
.multi-select-category .css-13cymwt-control,
.multi-select-category .css-t3ipsp-control {
  /* width: 540px; */
  width: 100%;
  /* flex-grow: 1; */
  /* display: flex; */
}

.select__control .select__control--menu-is-open {
  background-color: white !important;
}

.signupForm .basic-multi-select {
  border: 2px solid #333333;
  border-radius: 10px;
}

.signupForm .basic-multi-select .category__control--menu-is-open {
  border: 2px solid #f5615f;
  /* border-radius: 10px; */
}

.custom-card {
  margin-right: 20px; /* Adjust the margin to control the spacing between cards */
}

.navbar-collapse {
  display: grid;
}
.profile-image-container {
  position: relative;
  width: 100px;
  height: 100px;
}

.profile-image-container .image-overlay {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  overflow: hidden;
}

.profile-image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: all 0.3s ease;
}

.profile-image-container .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  color: #fff;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}

.profile-image-container:hover .overlay {
  display: flex;
}

.profile-image-container .overlay span {
  display: inline-block;
  padding: 10px;
}

.gallery-container-one {
  height: 515px;
  position: relative;
}

.gallery-container-one img,
.gallery-container-two img,
.gallery-container-three img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  z-index: 1;
  transition: all 0.3s ease;
}

.gallery-container-one .gallery-overlay,
.gallery-container-two .gallery-overlay,
.gallery-container-three .gallery-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.3s ease;
  cursor: pointer;
  color: #fff;
  font-size: 12px;
}

.gallery-container-one:hover .gallery-overlay,
.gallery-container-two:hover .gallery-overlay,
.gallery-container-three:hover .gallery-overlay {
  /* display: flex; */
  opacity: 1;
  z-index: 5;
}

.gallery-container-one .gallery-overlay span,
.gallery-container-two .gallery-overlay span,
.gallery-container-three .gallery-overlay span {
  display: inline-block;
  padding: 10px;
}

.gallery-container-two,
.gallery-container-three {
  height: 250px;
  position: relative;
}

.gallery-container-three img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: top;
}

.nav-tabs .tab-btn {
  /* width: 130px; */
  font-size: 16px;
  /* font-weight: 300; */
  color: #fff;
  cursor: pointer;
  /* margin-left: 20px; */
  /* height: 45px; */
  text-align: center;
  border: none;
  background-size: 300% 100%;
  border-radius: 8px;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  background-image: linear-gradient(
    to right,
    #f5615f,
    #fc396e,
    #fc396e,
    #f5615f
  );
  transition: 0.4s ease;
  background-image: 0 4px 15px 0 rgb(49, 22, 19);
  /* box-shadow: 0 4px 15px 0 rgba(252, 104, 110, 0.75); */
}
.nav-tabs .tab-btn:hover {
  /* width: 130px; */
  font-size: 16px;
  /* font-weight: 300; */
  color: #fff;
  cursor: pointer;
  /* margin-left: 20px; */
  /* height: 45px; */
  text-align: center;
  border: none;
  background-size: 300% 100%;
  border-radius: 8px;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  background-image: linear-gradient(
    to right,
    #fc396e,
    #f5615f,
    #f5615f,
    #fc396e
  );
  background-image: 0 4px 15px 0 rgb(49, 22, 19);
  transition: 0.4s ease;
  box-shadow: 0 4px 15px 0 rgba(252, 104, 110, 0.75);
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  /* width: 130px; */
  /* font-size: 16px; */
  /* font-weight: 300; */
  color: #fff !important;
  cursor: pointer;
  /* margin-left: 20px; */
  /* height: 45px; */
  text-align: center;
  border: none;
  background-size: 300% 100%;
  border-radius: 8px;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  background-image: linear-gradient(
    to right,
    #fc396e,
    #f5615f,
    #f5615f,
    #fc396e
  );
  background-image: 0 4px 15px 0 rgb(49, 22, 19);
  box-shadow: 0 4px 15px 0 rgba(252, 104, 110, 0.75);
}

.nav-tabs .nav-link {
  background-color: #333333 !important;
  border-radius: 8px;
  color: white;
  font-size: 16px;
  border-bottom: 0;
  /* width: 130px; */
}

.package-navigation .nav-item {
  width: 11%;
  margin: 10px;
}
.package-navigation .nav-item a {
  width: 100%;
  /* margin: 10px; */
}

.package-card {
  border-radius: 20px;
}

/* header navigation */
#navbar .nav-link.active {
  color: #ffffff; /* Specify your active link text color here */
  /* -o-transition: all 0.2s ease-in-out; */
  /* -webkit-transition: all 0.2s ease-in-out; */
  /* transition: all 0.2s ease-in-out; */
  transition: all 0s ease-in-out;
  background-image: linear-gradient(
    to right,
    #fc396e,
    #f5615f,
    #f5615f,
    #fc396e
  );
  background-image: 0 4px 15px 0 rgb(49, 22, 19);
  box-shadow: 0 4px 15px 0 rgba(252, 104, 110, 0.75);
  border-radius: 10px;
  padding: 0.5rem;
}

/* mobile navigation */
.bottom-nav {
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  /* padding: 0.8rem 0; */
  background-color: rgb(0, 0, 0); /* Specify your background color here */
  z-index: 99;
  /* will-change: transform; */
  /* transform: translateZ(0); */
  /* Specify your box shadow here */
  border-top: 1px solid #fc396e;
}

.bottom-nav-item {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-width: 70px;
  justify-content: center;
  text-align: center;
  /* font-size: 0.8rem;
  color: white; Specify your text color here */
}

.bottom-nav-link {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  color: white;
  flex-direction: column;
  align-items: center;
  /* font-weight: 600; */
  padding: 0.8rem 0;
  /* width: 80px; */
  align-self: center;
  transition: 0.3s ease;
}
.bottom-nav-link:hover {
  color: #f5615f;
}

.bottom-nav-item.active {
  color: #ffffff; /* Specify your active link text color here */
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  background-image: linear-gradient(
    to right,
    #fc396e,
    #f5615f,
    #f5615f,
    #fc396e
  );
  background-image: 0 4px 15px 0 rgb(49, 22, 19);
  /* box-shadow: 0 4px 15px 0 rgba(252, 104, 110, 0.75); */
}
.bottom-nav-item.active a {
  color: #ffffff; /* Specify your active link text color here */
}

.css-1dimb5e-singleValue {
  color: #f5615f !important;
}

.infoCardHeading {
  font-size: 36px;
}

.text-divider {
  margin: 1em 0;
  line-height: 0;
  text-align: center;
}
.text-divider span {
  background-color: #000000;
  padding: 5px 20px;
  font-size: 30px;
}
.text-divider:before {
  content: " ";
  display: block;
  border-top: 1px solid #474747;
  border-bottom: 1px solid #474747;
}

.brand-btn {
  width: 20vw;
  font-size: 20px;
}

.home-body {
  padding-top: 100px;
  /* min-height: 800px; */
}

.sub-heading {
  font-size: 40px;
  font-weight: 400;
  line-height: 48px;
}

.user-image-container {
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 50%;
}
.user-image-container img {
  width: 100%;
  height: 100%;
  object-position: center;
  object-fit: cover;
}

.steps-box p {
  margin: 0 10px;
}
.steps-box h3 {
  /* border: 2px solid red;   */
  padding: 5px 15px;
  border-radius: 50%;
  background-color: #f55f5f;
}

.celeb-profile-list {
  filter: grayscale(100%);
  opacity: 0.7;
}

.celeb-profile-list .celeb-profile img {
  width: 100%;
  height: 210px;
  object-fit: cover;
  border-radius: 20px;
}

.new-brand-box .unlock-door-popup {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, 0%);
  text-align: center;
  background-color: #fff;
  height: 465px;
  padding: 40px 40px 15px;
  opacity: 0.94;
  border-radius: 38px;
  box-shadow: 0 40px 110px 0 rgb(63 65 67 / 25%);
  width: 50%;
}

.new-brand-box .unlock-door-content .celeb-business-note {
  /* font-family: 'Minion Semibold'; */
  font-size: 36px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.23;
  letter-spacing: normal;
  text-align: center;
  color: #f55f5f;
  margin-top: 25px;
  padding: 0px 15px;
}

.new-brand-box .unlock-door-content .celeb-updates {
  /* font-family: 'SourceSansPro-Regular'; */
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4e4e4e;
  margin-top: 15px;
  margin-bottom: 30px;
}

.new-brand-box .brands-mail {
  font-size: 15px;
  padding-top: 20px;
  color: #536b94;
  /* font-family: 'SourceSansPro-Regular'; */
}

.new-brand-box .modern-heading {
  font-family: "Verveine-Regular";
  font-size: 46px;
  font-weight: normal;
  line-height: 45px;
  padding-bottom: 10px;
  letter-spacing: normal;
  color: #000000;
}

.new-brand-box .modern-para {
  font-family: "SourceSansPro-Regular";
  font-size: 24px;
  font-weight: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
}

.new-brand-box .modern-img img {
  position: absolute;
  width: 60%;
  right: -7%;
  top: 50%;
}

.new-brand-box .get-touch-img img {
  width: 100%;
}

.left-content-sec h1 {
  font-size: 70px;
  color: #f55f5f;
}

div:where(.swal2-container) h2:where(.swal2-title) {
  font-weight: 400 !important;
}

.css-wsp0cs-MultiValueGeneric {
  color: #f5615f !important;
}

.css-1p3m7a8-multiValue {
  background-color: #242225 !important;
}

.dropdown-toggle:after {
  display: none;
}

.celeb-container {
  display: block;
  /* position: -webkit-sticky; */
  position: absolute;
  top: 0;
  width: 100%;
}

/* slider brand */
.banner-video {
  border-radius: 15px;
  height: 412px;
  object-fit: fill;
  /* width: 200px; */
}

.owl-carousel.owl-drag .owl-item.active.center {
  /* width: 260px !important; */
  display: flex;
  justify-content: center;
}

.new-brand-box .new-slider .owl-item {
  /* -webkit-mask-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,1), rgba(0,0,0,0)); */
  -webkit-mask-image: -webkit-linear-gradient(
    left,
    rgb(0 0 0 / 0%),
    rgb(2 1 1 / 39%),
    rgb(0 0 0 / 4%)
  );
  mask-image: -webkit-linear-gradient(
    left,
    rgb(0 0 0 / 0%),
    rgb(2 1 1 / 39%),
    rgb(0 0 0 / 4%)
  );
}

.new-brand-box .new-slider .owl-item.center {
  -webkit-mask-image: none;
  mask-image: none;
}

.new-slider {
  -ms-touch-action: auto;
  touch-action: auto;
}

.new-brand-box .new-slider {
  margin-top: 25px;
  align-items: center;
  overflow-x: auto;
  overflow-y: hidden;
  /* -webkit-overflow-scrolling: touch; */
}

.new-brand-box .owl-carousel .owl-stage-outer {
  border-radius: 15px;
  width: 100%;
  margin: 0px auto;
  height: 419px;
  transition: height 0.5s ease-in-out;
}

.new-brand-box .video-sec {
  border-radius: 15px;
}
.form-label {
  color: "#fff";
}

/* our work filter gallery */
.youtube_embed_videos_wrap {
  margin-bottom: 30px;
}

.youtube-card {
  display: grid;
  grid-template-columns: repeat(4, minmax(150px, 1fr));
  grid-column-gap: 1rem;
  grid-row-gap: 2rem;
}

.youtube-thumb {
  width: 100%;
  /* height: 35vh; */
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 0.2rem;
}

.reel-card .portfolio-images {
  position: relative;
}

.reel-card .portfolio-images .img-close-btn,
.reel-card .youtube-container .video-close-btn {
  position: absolute;
  top: 2%;
  right: 2%;
  cursor: pointer;
  display: none;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.4s, visibility 0.4s;
}
.image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.3s ease;
  cursor: pointer;
  color: #fff;
  font-size: 12px;
  
}

.reel-card .portfolio-images:hover .image-overlay {
  opacity: 1;
}

.reel-card:hover .portfolio-images .img-close-btn,
.reel-card:hover .youtube-container .video-close-btn {
  display: block;
  opacity: 1;
  visibility: visible;
  /* transition: opacity 0.4s, visibility 0.4s; */
}

.reel-card,
.portfolio-images {
  height: 100%;
  width: 100%;
}

.youtube-card .play_icon,
.reel-card .play_icon {
  width: 30px;
  height: 30px;
  background-image: url(https://ik.imagekit.io/j83rchiauw/play_icon_brands_page.svg?updatedAt=1696577821261);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  cursor: pointer;
  position: absolute;
  top: calc(50% - 15px);
  left: 50%;
  transform: translate(-50%, -50%);
}

.youtube-video-title {
  font-size: 14px;
  /* text-align: center; */
  margin-top: 5px;
}

.filter-container .tab_title.active {
  background-image: linear-gradient(55deg, #ff893b, #f02828);
  border: 2px solid #fff;
}

.filter-container .tab_title {
  font-size: 16px;
  background-image: black;
  background-color: black;
  color: #fff;
  padding: 12px 20px;
  border: 2px solid #fff;
  text-align: center;
  cursor: pointer;
  margin: 0 10px;
  border-radius: 20px;
}

/* slick slider */

.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  /* -webkit-tap-highlight-color: transparent; */
}

.slick-slider .slick-list,
.slick-slider .slick-track {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.video-slider .slick-list {
  width: 90%;
  margin: auto;
  height: 360px;
}

.hover-vd .celebrity-name {
  text-align: center;
  margin: 10px 0 0;
  font-size: 36px;
  color: #fff;
  /* font-family: RedHatDisplay-Regular; */
  animation: 1.5s forwards slideLeft;
}

.brand-nm {
  text-align: center;
  font-family: Verveine-Regular;
  font-size: 28px;
  color: #f9f9f9;
}

/* .hover-vd .vd-box {
	width: 80px !important;
	height: 279px;
	color: #000;
	margin: 8px;
	transition: width .8s;
	position: relative;
} */

.hover-vd .slick-slide {
  width: 80px !important;
  height: 279px;
  color: #000;
  margin: 8px;
  transition: width 0.8s ease-in-out;
  position: relative;
}

.hover-vd .m1 {
  background-repeat: round;
  background-size: cover;
}

.vd-box video {
  position: absolute;
  width: 100%;
  height: 279px;
  filter: grayscale(1);
  object-position: top;
  object-fit: cover;
  transition: filter 0.3s ease-in-out;
}

.hover-vd .m2,
.hover-vd .m7 {
  margin-top: 40px;
}

.hover-vd .m3,
.hover-vd .m6,
.hover-vd .m9 {
  margin-top: 65px;
}
.hover-vd .m10,
.hover-vd .m5,
.hover-vd .m8 {
  margin-top: 0px;
}

.hover-vd .m4 {
  margin-top: 20px;
}

.vd-box:hover video {
  filter: grayscale(0);
}
.vd-box:hover {
  width: 180px !important;
  cursor: pointer;
}
.hover-vd .slick-slide:hover {
  width: 180px !important;
  cursor: pointer;
}

.bio-container {
  padding: 20px;
  border: 2px dashed gray;
  border-radius: 10px;
  background-color: rgb(39, 39, 39);
}

.gallery-container {
  border: 2px dashed gray;
  border-radius: 10px;
  background-color: rgb(39, 39, 39);
  padding: 20px;
}
