/* @tailwind base;
@tailwind components;
@tailwind utilities; */

* {
  margin: 0;
  padding: 0;
  font-family: "SharpGrotesk1";
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Coolvetica11";
}

Link {
  /* font-family: "DM_Sans"; */
}

@font-face {
  font-family: "SharpGrotesk1";
  src: local("SharpGrotesk1"),
    url("./Fonts/Sharp_Grotesk/SharpGrotesk-Book20.ttf") format("truetype");
}

@font-face {
  font-family: "Coolvetica11";
  src: local("Coolvetica11"),
    url("./Fonts/Coolvetica/coolvetica_rg.ttf") format("truetype");
}

@font-face {
  font-family: "DM_Sans1";
  src: local("DM_Sans1"),
    url("./Fonts/DM_Sans/DMSans_Regular.ttf") format("truetype");
}
