@media only screen and (max-width: 1500px) {
}
@media only screen and (min-width: 1200px) {
}
@media only screen and (max-width: 1200px) {
}
@media only screen and (min-width: 992px) {
  .mobile-view {
    display: none;
  }
}
@media only screen and (max-width: 992px) {
}

@media only screen and (max-width: 767px) {
  .multi-select-category .css-13cymwt-control,
  .multi-select-category .css-t3ipsp-control {
    width: 360px;
  }

  .package-navigation {
    justify-content: center;
  }

  .desktop-view {
    display: none;
  }

  .section-heading {
    color: white;
    font-size: 30px;
    font-weight: 500;
    line-height: 40px;
  }

  .username-text {
    width: 100%;
  }

  .new-brand-box .celeb-profile-list {
    opacity: 0.7;
    mix-blend-mode: luminosity;
    overflow-x: hidden;
  }

  .new-brand-box .unlock-door-popup {
    width: 90%;
  }

  .navbar-brand {
    width: 50%;
  }
  .footer-brand {
    width: 50%;
  }
}
@media only screen and (max-width: 575px) {
  .username-holder {
    width: 100%; /* Set to 100% for smaller screens */
  }
  .bottom-nav-item {
    /* max-width: 110px; */
  }

  .bottom-nav-item .bottom-nav-link svg {
    font-size: 23px;
  }
  .bottom-nav {
    /* max-width: 412px; */
  }
  .typeWriterTextMove {
    text-align: center;
  }
  .infoCardHeading {
    text-align: center;
    font-size: 25px !important;
  }

  .brand-btn {
    width: 55vw;
  }

  .typeWriterText {
    font-size: 50px;
  }
  .typeWriterTextMove {
    font-size: 50px;
  }

  .sub-heading {
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
  }
  .home-body {
    padding-top: 50px;
    /* min-height: 800px; */
  }

  .left-content-sec h1 {
    font-size: 40px;
  }

  .new-brand-box .unlock-door-content .celeb-business-note {
    font-size: 20px;
  }

  .new-brand-box .modern-img img {
    position: absolute;
    width: 50%;
    right: -3%;
    top: 50%;
  }
}
@media only screen and (max-width: 375px) {
  .bottom-nav-item {
    /* max-width: 92px; */
  }

  .bottom-nav-item .bottom-nav-link svg {
    font-size: 18px;
  }

.bottom-nav-link {
  font-size: 14px;
}

  .multi-select-category .css-13cymwt-control,
  .multi-select-category .css-t3ipsp-control {
    width: 290px;
  }
}
