.username-holder {
  display: flex;
  color: white;
  background-color: white;
  justify-content: space-between;
  width: 60%;
  border-radius: 50px;
  box-shadow: var(--mediumBoxShadow);
  padding: 5px 10px;
  transition-duration: 0.3s;
  border: 2px solid #6f20be;
  align-items: baseline;
  margin: 0 auto;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
    rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}
@media screen and (max-width: 400px) {
  .username-holder {
    width: 100%;
  }
}
.username-btn {
  background: linear-gradient(180deg, #9a3b95, #e36d83);
  padding: 8px 20px;
  font-size: 1em;
  font-weight: 600;
  color: white;
  border-radius: 20px;
  cursor: pointer;
}

.username-domain {
  padding: 5px 0px;
}
.username-text {
  border: none;
  padding: 5px 5px;
  background-color: #332D2D;
  border-radius: 10px;
  width: 100%;
  
}
.username-text:focus {
  background-color: black;
}
.gtext {
  font-size: 35px;
  /* background: -webkit-linear-gradient(#fe62ac 0%, #8726ff 51%); */
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(
    45deg,
    #fe62ac 0%,
    #8726ff 51%,
    #fe5ab0 100%
  );
}

