.username-holder {
  display: flex;
  color: white;
  background-color: rgb(0, 0, 0);
  justify-content: space-between;
  width: 60%;
  border-radius: 10px;
  box-shadow: var(--mediumBoxShadow);
  /* padding: 5px 10px; */
  transition-duration: 0.3s;
  border: 2px solid #ffffff;
  align-items: baseline;
  margin: 0 auto;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
    rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}
@media screen and (max-width: 400px) {
  .username-holder {
    width: 100%;
  }
}
.username-btn {
  background: linear-gradient(180deg, #9a3b95, #e36d83);
  padding: 8px 20px;
  font-size: 1em;
  font-weight: 600;
  color: white;
  border-radius: 20px;
  cursor: pointer;
}

.username-domain {
  /* padding: 5px 0px; */
}
.username-text {
  border: none;
  /* padding: 5px 5px; */
  background-color: #000000;
  border-radius: 10px;
  width: 300px;
  outline: none;
  box-Shadow: none;
  color: #f5615f;
}
.username-text:focus {
  /* background-color: black; */
}
.gtext {
  font-size: 35px;
  /* background: -webkit-linear-gradient(#fe62ac 0%, #8726ff 51%); */
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(
    45deg,
    #fc396e 0%,
    #f55f5f 51%,
    #fc396e 100%  
  );
}

.info-heading {
  font-size: 26px;
  color: white;
  font-weight: 200;
}

.info-paragraph {
  font-size: 20px;
  color: #A0A0A0;
  font-family: "DM_Sans1";
  line-height: 29px;
}

.info-box {
  background-color: #141414;
}

.icon-box p {
  font-size: 20px;
  color: white;
}

/* dashboard css */

.creator-dashboard-wrap {
	min-height: calc(100vh - 82px);
	display: flex;
	flex-wrap: wrap;
}


.creator-dashboard-nav {
	display: block;
	border-radius: 6px;
	padding-bottom: 30px;
	z-index: 1;
	background: #333333;
  position: -webkit-sticky;
	position: sticky;
	top: 110px;
  width: 250px;
}

.creator-dashboard-inner {
	display: block;
	padding: 10px 0 25px 0;
  position: relative;
}

.creator-dashboard-nav ul:first-child {
	margin: 30px 0 0 0;
}

.creator-dashboard-nav ul {
	list-style: none;
	padding: 0;
	margin: 17px 0 0 0;
}

.creator-dashboard-nav ul::before {
	content: attr(data-submenu-title);
	padding: 0 30px;
	margin-bottom: 5px;
	display: block;
	color: #fc396e;
	font-weight: 500;
	font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}

.creator-dashboard-nav ul li.active, .creator-dashboard-nav ul li:hover {
	border-color: #f55f5f !important;
	background-color: rgba(244, 27, 59,0.1) !important;
  font-weight: 700;
}

.creator-dashboard-nav ul li {
	display: block;
	border-left: 3px solid transparent;
	transition: 0.3s;
	line-height: 20px;
	font-size: 14px;
}

.creator-dashboard-nav ul li {
	display: block;
	border-left: 3px solid transparent;
	transition: 0.3s;
	line-height: 20px;
	font-size: 14px;
}

.creator-dashboard-nav ul li.active a, .creator-dashboard-nav ul li:hover a {
	color: #f55f5f;
}

.creator-dashboard-nav ul li a {
	color: #dadada;
	display: block;
	padding: 12px 25px;
	transition: 0.3s;
	cursor: pointer;
	font-weight: 400;
	position: relative;
	font-size: 15px;
	letter-spacing: 0.5px;
}

/* dashboard content */

.creator-dashboard-content {
	padding: 0px 45px;
	padding-bottom: 0;
	position: relative;
	z-index: 1;
}

.creator-dashboard-content, .creator-dashboard-nav {
	flex: 1;
}